

<div class="row">


	<div class="col-lg-5">
		<!-- <div style="border: 2px solid gray; display: inline-block;">
			<textarea cols="70" rows="20" [ngModel]="sai | json"
				style="border: none; border-color: Transparent;"></textarea>
		</div> -->


		<!--  -->

		<div class="dPanel">
			<div class="dPanelHeader">Json Formatter <span style="float:right; padding-right:8px;"><i class="fa fa-indent" aria-hidden="true"></i></span></div>
			<div class="dPanelContent">
				<div>
					<pre contenteditable="true" id="output"
						></pre>
				</div>
			</div>
		</div>
 	</div>

	<div class="col-lg-1 text-center" >

    <div style="margin-top: 100px;">
       <input type="button" class="btn btn-primary" value=">>"/>
    </div>
    
    <div style="margin-top: 50px;">
       <input type="button" class="btn btn-primary" value="<<"/>
    </div>
    </div>


	<div class="col-lg-5">
		<div class="dPanel">
			<div class="dPanelHeader">Json Preview</div>
			<div class="dPanelContent" style="padding-left : 14px;">
				<ngx-json-viewer [json]="sai"></ngx-json-viewer>
			</div>
		</div>
	</div>
</div>






