/* [Master Stylesheet] */

/* ------------- Index of Stylesheet -------------
:: 1.0 Import Web Fonts
:: 2.0 Import All CSS
:: 3.0 Common/Base CSS
:: 4.0 Header Area CSS
    :: 4.1.0 Top Header Area CSS
    :: 4.2.0 Middle Header Area CSS
    :: 4.3.0 Bottom Header Area CSS 
:: 5.0 Welocome Post Area CSS
:: 6.0 News Marquee Area CSS
:: 7.0 Sidebar Area CSS
:: 8.0 Post Area CSS
:: 9.0 Video Post Area CSS
:: 10.0 Editorial Post Area CSS
:: 11.0 Catagory Area CSS
:: 12.0 About Us Area CSS
:: 13.0 Contact Area CSS
:: 14.0 Footer Area CSS
------------------------------------------------ */

/* --------------------
:: 1.0 Import Web Fonts
-------------------- */

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:300,400,500,700');

/* ------------------
:: 2.0 Import All CSS
------------------ */

 
 
/* -------------------
:: 3.0 Common/Base CSS
------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3a3a3a;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    color: #9f9f9f;
    font-size: 1em;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a:focus {
    outline: 0 solid;
}

a,
a:hover,
a:focus {
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



ul,
ol {
    margin: 0;
}

ol li,
ul li {
    list-style: outside none none;
}

img {
    height: auto;
    max-width: 100%;
}

.font-pt {
    font-family: 'PT Serif', serif !important;
}

.background-overlay,
.background-overlay-5,
.background-overlay-white {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.background-overlay:before,
.background-overlay-5:before,
.background-overlay-white:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.background-overlay:before {
    background-color: rgba(0, 0, 0, 0.7);
}

.background-overlay-5:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.background-overlay-white:before {
    background-color: rgba(255, 255, 255, 0.9);
}

.gazette-table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.gazette-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-100 {
    margin-bottom: 100px;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray {
    background-color: #f6f6f6;
}

.bg-white {
    background-color: #fff;
}

.bg-dark {
    background-color: #1d1d1d !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-dark3 {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-dark2 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

#scrollUp {
    background-color: #ff084e;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
}

.section_padding_100 {
    padding: 100px 0;
}

.section_padding_50 {
    padding: 50px 0;
}

.section_padding_100_70 {
    padding: 100px 0 70px;
}

.section_padding_100_50 {
    padding: 100px 0 50px;
}

.section_padding_100_0 {
    padding: 100px 0 0;
}

.section_padding_0_100 {
    padding: 0 0 100px;
}

.section_heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.section_heading h2 {
    font-size: 48px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.section_heading.text-left {
    text-align: left !important;
}

.gazette-btn {
    min-width: 200px;
    border: 2px solid #fff;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    height: 54px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 0;
    letter-spacing: 1px;
    font-weight: 400;
}

.gazette-btn > i {
    padding-left: 10px;
}

.gazette-btn:hover,
.gazette-btn:focus {
    font-weight: 400;
    border: 2px solid #ff0303;
    color: #ff0303;
}

/* :: 4.0 Header Area CSS */

/* :: 4.1.0 Top Header Area CSS */

.top-header {
    position: relative;
    z-index: 1;
    height: 70px;
    background-color: #1d1d1d;
}

.breaking-news-title {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}

#breakingNewsTicker.ticker {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
}

#breakingNewsTicker.ticker ul {
    width: 100%;
    position: relative;
}

#breakingNewsTicker.ticker ul li {
    display: none;
    width: 100%;
}

#breakingNewsTicker.ticker ul li a {
    color: #fff;
    font-size: 14px;
}

#breakingNewsTicker.ticker ul li a:hover {
    color: #ff084e;
}

#stockNewsTicker.ticker {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#stockNewsTicker.ticker ul {
    width: 100%;
    position: relative;
}

#stockNewsTicker.ticker ul li {
    display: none;
    width: 100%;
    text-align: right;
}

#stockNewsTicker.ticker ul li a {
    color: #fff;
    font-size: 14px;
}

.single-stock-report .stock-values span {
    padding-right: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}

.single-stock-report .stock-values span:last-child {
    color: rgba(255, 255, 255, 0.5);
}

.single-stock-report .stock-index h4 {
    color: #fff;
    margin-bottom: 0;
}

.single-stock-report {
    border-right: 2px solid rgba(255, 255, 255, 0.05);
    margin-right: 20px;
    display: inline-block;
    text-align: left;
}

.single-stock-report:last-child {
    border-right: none;
    margin-right: 0;
}

.single-stock-report .stock-index.minus-index h4,
.single-stock-report .stock-index.plus-index h4 {
    color: #ff0303;
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

.single-stock-report .stock-index.minus-index h4:before,
.single-stock-report .stock-index.plus-index h4:before {
    content: '\e688';
    color: #ff0303;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10px;
    font-family: 'Pe-icon-7-stroke';
    font-size: 44px;
    line-height: 32px;
}

.single-stock-report .stock-index.plus-index h4 {
    color: #30ca00;
}

.single-stock-report .stock-index.plus-index h4:before {
    content: '\e682';
    color: #30ca00;
}

/* :: 4.2.0 Middle Header Area CSS */

.middle-header {
    position: relative;
    z-index: 1;
    height: 160px;
    background-color: #fff;
}

/* :: 4.3.0 Bottom Header Area CSS */

.bottom-header {
    width: 100%;
    height: 55px;
    border-top: 1px solid #e4e4e4;
}

.main-menu .navbar.navbar-expand-lg {
    padding: 0;
}

.main-menu .navbar.navbar-expand-lg .nav-link {
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

.main-menu .navbar.navbar-expand-lg .nav-item.active .nav-link,
.main-menu .navbar.navbar-expand-lg .nav-link:hover {
    color: #ff0303;
}

.main-menu .dropdown-menu.show {
    border: none;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.15);
}

.main-menu .dropdown-item {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.main-menu .dropdown-item:hover {
    color: #ff0303;
}

.main-menu #searchbtn i {
    font-size: 20px;
    cursor: pointer;
}

.header-search-form form input {
    width: 700px;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    font-style: italic;
    border-radius: 4px;
}

.header-search-form {
    display: none;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.search-form-on .header-search-form {
    display: block;
}

.search-form-on .navbar-nav {
    display: none !important;
}

/* :: 5.0 Welocome Post Area CSS */

.welcome-blog-post-slide .single-blog-post-slide {
    height: 580px;
    position: relative;
    z-index: 1;
}

.welcome-blog-post-slide .single-blog-post-slide .single-blog-post-content {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 5;
}

.single-blog-post-slide .tags > a {
    color: #fff;
    background-color: #ff0303;
    padding: 2px 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: inline-block;
}

.single-blog-post-slide h3 a {
    color: #fff;
    font-size: 36px;
    margin-bottom: 15px;
}

.single-blog-post-slide .date a {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    display: inline-block;
}

.single-blog-post-slide h3 a:hover,
.single-blog-post-slide .date a:hover {
    color: #ff0303;
}

/* :: 6.0 News Marquee Area CSS */

.simple-marquee-container {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    z-index: 1;
    height: 65px;
}

.marquee,
*[class^="marquee"] {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
}

.marquee-content-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: relative;
    z-index: 1;
    height: 65px;
}

.marquee-content-items li {
    background-color: #101010;
    padding: 0 20px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.marquee-content-items li:nth-child(even) {
    background-color: #1c1c1c;
}

.marquee-content-items li a {
    font-size: 18px;
    color: #fff;
    display: inline-block;
}

.marquee-content-items li a > span {
    background-color: #ff0303;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 300;
    margin-right: 20px;
}

/* :: 7.0 Sidebar Area CSS */

.single-breaking-news-widget {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.widget-title h5 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.breakingnews-title {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 30px;
    left: 0;
}

.breakingnews-title p {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    position: absolute;
    background-color: #ff0303;
    height: 30px;
    line-height: 30px;
    width: 50%;
    text-align: center;
    top: 0;
    left: 0;
}

.gradient-background-overlay {
    position: relative;
    z-index: 3;
    background-position: center center;
    background-size: cover;
}

.gradient-background-overlay:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(1%, rgba(0, 0, 0, 0.5)), color-stop(98%, #000), color-stop(99%, #000));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
}

.breaking-news-heading {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 20px;
}

.breaking-news-heading h5 {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
}

.dont-miss-post-thumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    max-width: 70px;
    margin-right: 30px;
}

.dont-miss-post-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 70px);
            flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
}

.dont-miss-post-content a {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
}

.dont-miss-post-content a:hover {
    color: #ff0303;
}

.dont-miss-post-content span {
    font-size: 14px;
    font-style: italic;
    color: #838383;
}

.subscribe-form input,
.subscribe-form button {
    width: 100%;
    background-color: #f5f5f5;
    height: 45px;
    margin-bottom: 15px;
    border: none;
    padding: 0 15px;
    font-size: 12px;
}

.subscribe-form button {
    background-color: #ff0303;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

/* :: 8.0 Post Area CSS */

.gazette-post-tag a {
    font-size: 14px;
    font-weight: 700;
    background-color: #ff0303;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 15px;
    display: inline-block;
}

.gazette-welcome-post h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 400;
}

.gazette-post-date {
    color: #838383;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
    display: block;
}

.gazette-welcome-post p {
    line-height: 1.8;
    font-size: 18px;
    font-weight: 300;
}

.post-continue-btn a {
    height: 54px;
    border: 1px solid #1e1e1e;
    display: inline-block;
    padding: 0 20px;
    line-height: 52px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.post-continue-btn a:hover {
    border: 1px solid #ff0303;
    color: #ff0303;
}

.post-continue-btn a i {
    padding-left: 15px;
}

.post-share-btn-group a {
    color: #d3d3d3;
    font-size: 20px;
    padding: 0 10px;
    display: inline-block;
}

.post-share-btn-group a:hover {
    color: #ff0303;
}

.gazette-heading h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 50px;
}

.todays-post-content p {
    font-size: 14px;
    line-height: 2;
    margin-top: 15px;
}

.todays-post-thumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    margin-right: 30px;
    max-width: 32%;
}

.todays-post-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 68%;
            flex: 0 0 68%;
    max-width: 68%;
}

.todays-post-content h3 a {
    font-weight: 400;
    font-size: 30px;
}

.post-total-comments {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* :: 9.0 Video Post Area CSS */

.single-video-post {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.video-post-thumb {
    position: relative;
    z-index: 1;
}

.video-post-thumb:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    content: '';
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.single-video-post:hover .video-post-thumb:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.video-post-thumb > a {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.single-video-post h5 a {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1.5;
    display: block;
    font-weight: 400;
}

/* :: 10.0 Editorial Post Area CSS */

.editorial-post-content h2 a {
    color: #fff;
    font-size: 48px;
    display: block;
}

.editorial-post-date {
    font-style: italic;
    color: #fff;
}

.editorial-post-slides .owl-dots {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.editorial-post-slides .owl-dot {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    margin: 0 3px;
}

.editorial-post-slides .owl-dot.active {
    width: 9px;
    height: 9px;
    background-color: rgba(255, 255, 255, 1);
}

/* :: 11.0 Catagory Area CSS */

.gazette-single-catagory-post span {
    font-style: italic;
    font-size: 14px;
    color: #9f9f9f;
}

.gazette-single-catagory-post {
    padding: 15px 0;
    border-top: 1px solid #d7d7d7;
}

.gazette-catagory-posts-area .row .col-12:first-child .gazette-single-catagory-post:first-child,
.gazette-catagory-posts-area .row .col-12:last-child .gazette-single-catagory-post:first-child,
.gazette-catagory-posts-area .row .col-12:nth-child(2) .row .col-12 .gazette-single-catagory-post {
    border-top: none;
}

.gazette-catagory-posts-area .row .col-12:nth-child(2) .row .col-12 .gazette-single-catagory-post {
    padding-bottom: 0;
}

.breadcumb-area {
    background-color: #efefef;
    position: relative;
    z-index: 1;
}

.catagory-welcome-post-area .gazette-welcome-post h2 {
    font-size: 30px;
    line-height: 1.5;
}

.catagory-welcome-post-area .gazette-welcome-post {
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 100px;
}

.catagory-welcome-post-area .col-12:last-child .gazette-welcome-post {
    padding-bottom: 0;
    border-bottom: none;
}

.catagory-welcome-post-area .col-12:last-child .gazette-welcome-post .blog-post-thumbnail,
.catagory-welcome-post-area .col-12:last-child .gazette-welcome-post .welcome-post-contents {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-item .page-link {
    padding: 0;
    margin-left: -1px;
    line-height: 38px;
    color: #fff;
    background-color: #1d1d1d;
    border: none;
    margin-right: 15px;
    width: 38px;
    text-align: center;
}

.page-item .page-link:hover {
    color: #fff;
    background-color: #ff0303;
}

.single-post-title {
    width: 100%;
    height: 340px;
    position: relative;
    z-index: 1;
}

.single-post-title-content h2 {
    color: #fff;
    font-size: 48px;
}

.single-post-title-content p {
    color: #fff;
    font-size: 16px;
    font-style: italic;
}

.single-post-title-content {
    padding-bottom: 15px;
}

.single-post-contents .col-12:first-child .single-post-text p:first-child:first-letter {
    font-size: 30px;
    line-height: 1;
}

.single-post-text {
    padding: 70px 0;
}

.single-post-blockquote blockquote {
    margin: 0;
    border-left: 5px solid #3a3a3a;
    padding: 5px 0 5px 30px;
}

.single-post-blockquote blockquote h6 {
    line-height: 1.8;
}

.comment-wrapper {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 6px;
}

.comment-author {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    max-width: 70px;
    margin-right: 20px;
    border-radius: 50%;
}

.comment-author img {
    border-radius: 50%
}

.comment-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 70px);
            flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
}

.comment-content h5 {
    font-size: 18px;
    margin: 0;
}

.comment-content span {
    font-size: 14px;
    margin: 0;
}

.comment-content p {
    font-size: 14px;
    line-height: 1.5;
    margin: 25px 0;
}

.comment_area ol li ol li .comment-wrapper {
    margin-left: 100px;
}

.reply-btn {
    border: 1px solid #000;
    padding: 5px 15px;
    font-size: 12px;
    text-transform: uppercase;
}

.form-control {
    height: 50px;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    font-size: 14px;
}

.gazette-contact-area .form-control {
    background-color: #f6f6f6;
}

textarea.form-control {
    height: 210px;
}

.leave-comment-btn,
.contact-btn {
    width: 100%;
    font-size: 18px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 0;
    background-color: transparent;
}

.contact-btn:hover,
.contact-btn:focus,
.leave-comment-btn:hover,
.leave-comment-btn:focus,
.reply-btn:hover,
.reply-btn:focus {
    border-color: #ff0303;
    color: #ff0303;
}

/* :: 12.0 About Us Area CSS */

.single-team-area {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.single-team-area img {
    width: 100%;
}

.team-member-data {
    margin-top: 30px;
}

.team-member-designation-social-info h5 {
    font-size: 18px;
    font-style: italic;
    color: rgba(29, 29, 29, 0.75);
}

.team-member-designation-social-info .social-info a {
    font-size: 14px;
    display: inline-block;
    padding: 0 3px;
    color: #d3d3d3;
}

.cta-content h2 {
    color: #fff;
}

.gazette-cta-area {
    background-attachment: fixed
}

/* :: 13.0 Contact Area CSS */

.contact-address-info p {
    margin-bottom: 0;
}

#googleMap {
    width: 100%;
    height: 560px;
}

/* :: 14.0 Footer Area CSS */

.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget .footer-widget-title h4 {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 400;
}

.single-footer-widget .footer-widget-menu li > a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: 'PT Serif', serif;
    line-height: 28px;
}

.single-footer-widget .footer-widget-menu li > a:hover {
    color: rgba(255, 255, 255, 1);
    padding-left: 5px;
}

.bottom-footer-area {
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.copywrite-text p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.copywrite-text p > a {
    color: #fff;
}