 
textarea { 
    width: 1100px;
    height:350px;
    
	border-radius:8px;
	overflow: none;
	padding: 10px;
}

textarea:focus{
	outline:none;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height:300px;
	overflow: none;
}
::-webkit-input-placeholder { /* Webkit */
    line-height:300px;
    color:darkgray;
    text-align:center;
	overflow: none;
	font-size:18px;
}
:-ms-input-placeholder { /* IE */
    line-height:300px;
	overflow: none;
}




.splittedWords{
	cursor: pointer; 
	

}

.splittedWords:hover{
	color: brown;
	text-decoration:underline; 
}

.visitedWords{
	color: #1b3af2;
	text-decoration:underline; 
	font-weight: bold;
	
}

.visitedWords:hover{
	color: brown;
	text-decoration:underline; 
	font-weight: bold;
	cursor: pointer;
	
	
}
 