<div class="row" style="margin-bottom:30px;">
	<div class="col-sm-12">
		<h2>Easy English</h2>
	</div>
</div>

 <!--<ckeditor [(ngModel)]="content" debounce="500" [config]="config">
 </ckeditor>
    <div [innerHTML]="content"></div>-->


<div class="row" [hidden]="isReadMode">
	<div class="col-sm-12 text-center">
		<textarea placeholder="paste your text here" #inputTextElement 
		          (keyup.enter)="read(inputTextElement.value)"
				  value="sai nath maharaj">This is the angular way of achieving your goal, all done in template, using nested ng for loops and then an ngSwitch is the appropriate directive for this use case since you have 2 options and a default. Now you do not need to fight the framework or use any hacks like binding functions to the window. Angular will bind functions appropriately using this method. You also have the distinct advantage of your display being model driven, so you only need to ever update your model and the display will react accordingly, so you never need to worry about display and model falling out of sync.

For example if you were to remove row 5, you would need to manually redraw your table after updating your model, same if you added a new row, or if you edit cell 2 of row 3. Using template, angular manages all of this in a transparent and reliable manner.</textarea>
	</div>
</div>

<div class="row" [hidden]="isReadMode" style="margin-top:1%;">
	<div class="col-sm-12 text-center">
		<button class="btn btn-primary btn-sm" (click)="read(inputTextElement.value)">Read</button>
		<button class="btn btn-primary btn-sm" (click)="clear(inputTextElement)">Clear</button>
	</div>
</div>


<div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        sai
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isReadMode">
	<div class="col-lg-12">
		<div class="card bg-light mb-3">

			<div>
				<div class="card-header" style="font-weight:bold; font-size:15px;">Ready to Read..
					<i class="fa fa-window-maximize pull-right" (click)="showTextEditer()" aria-hidden="true" style="color:brown; font-size:18px; cursor:pointer;"></i>
				</div>
			</div>
			<div class="card-body">
				<!--<h5 class="card-title">Light card title</h5>-->
				<div class="card-text">
					<div *ngFor="let word of splittedText" style="display: inline-block; margin-right:5px;">
						<span (click)="getMeaning(word)" class="splittedWords">{{word}}</span>
					</div>
				</div>
			</div>
			<div class="card-footer">

				<span style="font-weight: bold; font-size: 11px;"> Visited Words : </span>
				<span *ngFor="let v of visitedWords">
					<small class="visitedWords" [innerHTML]="v"></small> 
				</span>
			</div>
		</div>

	</div>
</div>
 
<div class="row" *ngIf="isReadMode">
	<div class="col-sm-12">
		<div class="card">
			<h5 class="card-header">Meaning...</h5>
			<div class="card-body">
				<h6 class="card-title">{{selectedWordDisplay}}</h6>
				<p class="card-text"> साईबाबा कि जय हो </p>
				<!--<a href="#" class="btn btn-primary">Add To My Dictionary</a>-->
			</div>
		</div>

	</div>
</div>

<div class="row">
 <div class="col-md-12">
 <div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Collapsible Group Item #3
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>
 </div>
</div>

