<div class="row">
    <div class="col-sm-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">

                <input type="button" class="nav-link btn-link tabLink" value="Search Word" (click)="setTabActive('SearchPanel')" [ngClass]="{'active' : activeTab === 'SearchPanel'}">
            </li>
            <li class="nav-item">

                <input type="button" class="nav-link btn-link tabLink" value="Add Word" (click)="setTabActive('AddTabPanel')" [ngClass]="{'active' : activeTab === 'AddTabPanel'}">
            </li>
            <li class="nav-item">

                <input type="button" class="nav-link btn-link tabLink" value="Instructions" (click)="setTabActive('Instructions')" [ngClass]="{'active' : activeTab === 'Instructions'}">
            </li>



        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!-- Tab panes -->
        <div class="tab-content tabContentLook">
            <div class="tab-pane container" [ngClass]="{'active' : activeTab === 'SearchPanel'}">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div>
                            <form name="formSearchWord">
                                <div class="form-group">
                                    <!--<label for="exampleInputEmail1">Email address</label>-->
                                    <input type="text" name="txtSearchWord" class="form-control" aria-describedby="wordHelp" placeholder="Enter word" [(ngModel)]="wordToSearch">

                                    <small id="wordHelp" class="form-text text-muted">Enter word in the field above.</small>
                                </div>

                                <button type="button" class="btn btn-primary text-center" (click)="searchMeaningForWord()">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some example text. Some example text.</p>

                                <!-- similar words 
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                -->

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Examples</h4>
                                <p class="card-text">1. Some example text. Some example text.Some example text. Some example text.Some example
                                    text. Some example text.</p>
                                <p class="card-text">2. Some example text. Some example text.</p>
                                <p class="card-text">3. Some example text. Some example text.</p>

                                <!-- similar words 
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                -->

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane container" [ngClass]="{'active' : activeTab === 'AddTabPanel'}">ram</div>


            <div class="tab-pane" [ngClass]="{'active' : activeTab === 'Instructions'}">

                <h2>Striped Rows</h2>
                <p>Please consider the instructions while adding a word to the dictionary otherwise, it will be difficult to fetch the correct results.</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Use in dictionary</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>रस्व व दिर्घ उकार फक्त U ने सेव करणे </td>
                            <td>tUmhala</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>पहिली आणि दुसरी वेलांटी फक्त F ने सेव करणे </td>
                            <td>mala thodi mahIti havI hotI</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>व साठी फक्त W वापरावे </td>
                            <td>mala baher jaWas Watat hot</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>


    </div>
</div>