/* You can add global styles to this file, and also import other style files */
 
html {
	margin: 0px 20px;
	background-color: #666;
}

body {
	font-family: 'Roboto', sans-serif;
	border: 0px solid green;
	background-color: #f7f7f7;
	min-height: 627px;
}

.headerBlackStrip {
	border: 0px solid green;
	width: 100%;
	height: 50px;
	color: #fff;
	background-color: #1D1D1D;
}

.headerBlackStrip .mainHeader {
	font-size: 36px;
	font-weight: bold;
	padding: 3px 0px 3px 15px;
	display: inline-block;
}

.headerBlackStrip .subHeader {
	font-size: 14px;
	display: inline-block;
}

.headerBlackStrip .rightOptions {
	font-size: 12px;
	vertical-align: middle;
	line-height: 50px;
	padding: 3px 13px 3px 3px;
}

.contentArea {
	padding: 10px;
}

/* json formatter with colors starts here */

pre {
/* 	outline: 1px solid #ccc; */
	padding: 5px;
	margin: 5px;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}

/* .. json formatter with colors starts here */

 
/*  dPanel  */

.dPanel{
	width:100%;
	 
	border : 1px solid orange;
	border-radius:4px;
}

.dPanel .dPanelHeader{
	color: white;
	background : #f4a460;
	padding : 5px;
	font-weight:bold;
	
}

.dPanel  .dPanelContent{
	color : blue;
	background-color:rgba(27,31,35,0.075);
	padding-left : 4px;
	 
}
/* .. dPanel  */



